*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
}
.container{
    position: relative;
    background-color: #131313 !important;
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.container .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
    background-color: #dc2828;

}
.container .card::after{
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
    
}
.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    z-index: 20;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.container .card:hover .imgBx img{
    transform: translate(-50%,-50%) rotate(-25deg);
}
.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx{
    height: 210px;
}
.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size,
.container .card .contentBx .color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5%;
}
.container .card:hover .contentBx .color
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6%;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3
{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
}
.container .card .contentBx .size span:hover{
    background-color: rgb(8, 156, 124)
}
.container .card .contentBx .color span{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    z-index: 30;
}
.container .card .contentBx .color span:nth-child(2)
{
    background-color: #fff;
    transition: 0.5s;
}
.container .card .contentBx .color span:nth-child(2):hover,
.container .card .contentBx .color span:nth-child(3):hover,
.container .card .contentBx .color span:nth-child(4):hover
{
    transform: translateY(-10px);
}
.container .card .contentBx .color span:nth-child(3)
{
    background-color: #dc2828;
    transition: 0.5s;
}
.container .card .contentBx .color span:nth-child(4)
{
    background-color: #9bdc28;
    transition: 0.5s;
}
.container .card .contentBx a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(116, 116, 116);
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    font-size: 20px;
    color: rgba(255, 255, 255,0.5);
    font-weight: bold;
}
.container .card .contentBx a:hover{
    opacity: 1;
    color: rgb(253, 255, 254);
    background: rgb(134, 136, 136);
    transition-delay: 1s;
}
.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75%;
}
.container .card .contentBx a >span{
    display: block;
    position: absolute;
    background: #9bdc28;
}
.container .card .contentBx a >span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.container .card .contentBx a:hover >span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.container .card .contentBx a >span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: scaleY(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.container .card .contentBx a:hover >span:nth-child(2){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.container .card .contentBx a >span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}
.container .card .contentBx a:hover >span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}
.container .card .contentBx a >span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    transform: scaleY(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.container .card .contentBx a:hover >span:nth-child(4){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}